  <div style='border: 20px dashed blue'>
  <% if @visitor %>
  	Hello, <%= @visitor %>!
  <% else %>
    <form action="/hello">
      My name is <%= @name %>.
      What's your name?
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
  <% end %>
    <img src='/images/kitten.png'>
   </div>